<section>
  <form class="formulario" (ngSubmit)="updateTask(task)">
    <div class="form-field">
      <label class="form-field__label">Nome da Tarefa</label>
      <input class="form-field__input" name="title" required type="text" [(ngModel)]="task.title">
    </div>

    <div class="form-field">
      <label class="form-field__label">Data de Entrega</label>
      <input class="form-field__input" name="isDone" type="date" required [(ngModel)]="task.completeDay">
    </div>

    <div class="button-wraper">
      <button class="button">
        Atualizar Tarefa
      </button>
    </div>
  </form>
</section>
